.game-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.firstTwoButtons {
    margin-bottom: -10px;
}

.bgButton {
    border: 15px solid #555;
    padding: 87px;
    display: inline-block;
    margin: 0 bottom;
}

.one {
    background: #00AD3B;
    border-radius: 200px 0px 0px 0px;
    -moz-border-radius: 200px 0px 0px 0px;
    -webkit-border-radius: 200px 0px 0px 0px;
    margin-right: -10px;
}

.one-active {
    background: #08C40B;
    border-radius: 200px 0px 0px 0px;
    -moz-border-radius: 200px 0px 0px 0px;
    -webkit-border-radius: 200px 0px 0px 0px;
    margin-right: -10px;
}

.two {
    background: #7A0202;
    border-radius: 0px 200px 0px 0px;
    -moz-border-radius: 0px 200px 0px 0px;
    -webkit-border-radius: 0px 200px 0px 0px;
}

.two-active {
    background: #BF0303;
    border-radius: 0px 200px 0px 0px;
    -moz-border-radius: 0px 200px 0px 0px;
    -webkit-border-radius: 0px 200px 0px 0px;
}

.three {
    background: #CCC908;
    border-radius: 0px 0px 0px 200px;
    -moz-border-radius: 0px 0px 0px 200px;
    -webkit-border-radius: 0px 0px 0px 200px;
    margin-right: -10px;
}

.three-active {
    background: #F0ED09;
    border-radius: 0px 0px 0px 200px;
    -moz-border-radius: 0px 0px 0px 200px;
    -webkit-border-radius: 0px 0px 0px 200px;
    margin-right: -10px;
}

.four {
    background: #285CFA;
    border-radius: 0px 0px 200px 0px;
    -moz-border-radius: 0px 0px 200px 0px;
    -webkit-border-radius: 0px 0px 200px 0px;
}

.four-active {
    background: #5A81FA;
    border-radius: 0px 0px 200px 0px;
    -moz-border-radius: 0px 0px 200px 0px;
    -webkit-border-radius: 0px 0px 200px 0px;
}

.console-container {
    margin: auto;
    width: 200px;
    z-index: 3;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 200px;
    position: absolute;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #555;
}

input {
    width: 60px;
    background: black;
    color: white;
}

#strict {
    margin: auto;
    background: green;
    width: 10px;
    padding: 8px;
}

#restart, #start {
    display: inline-block;
    background: red;
    width: 10px;
    padding: 8px;
}

#restart {
    margin-right: 30px;
}
@media (max-width: 500px) {
  .bgButton{
    padding: 80px;
    border: 10px solid #555;
  }
  .console-container{
    width: 170px;
    height: 170px;
  }

}
@media (max-width: 320px) {
  .bgButton{
    padding: 70px;
    border: 10px solid #555;
  }
  .console-container{
    width: 160px;
    height: 160px;
  }
}
